<launch>
    <node pkg="piper_tts" type="forward_piper_tts_pal" name="piper_tts" output="screen">
        <param name="model_dir" value="$(find piper_tts)/models"/>
        <param name="default_model" value="de_DE-karlsson-low"/>
        <rosparam command="load" file="$(find piper_tts)/config/models.yaml"/>
    </node>

</launch> 